<div class="container">
  <h1>The most common male name is <%= @most_common_male_name %></h1>

  <%= render "table", students_list: @male_students_with_name %>

  <br><%= link_to "Go Back", queries_path, class: "button" %>
</div>