.Manager {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ClientCard,
.TourCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
}

input[type='number'] {
    width: 20%;
}

input[type='checkbox'] {
    height: 1rem;
    width: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

#save-manager-form {
    width: 15%;
    height: 2.5rem;
    margin: 1rem auto;
}