body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 20px;
}

h1 {
    color: #8b0000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #fff;
    background-color: #b30000;
    border: 1px solid #990000;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.enrolled-count {
    color: #4caf50;
}

.leave-count {
    color: #dc3545;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8b0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #660000;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-input, select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-error {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
}

select {
    width: 100%
}

.form-submit {
    background-color: #8b0000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #660000;
}

.page-heading {
    color: #8b0000;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

thead {
    background-color: #8b0000; /* Ruby red for table header background */
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Light border between rows */
}